/* Textfield Autofill Bug */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 60px rgb(254, 192, 56) inset !important;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 
      sans-serif, "Long Cang", cursive;
    background-color: rgb(33, 32,44);

}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

a {
  text-decoration: none;
}

.loginForm {
  padding-top: 0;
  padding-bottom: 5%;
}

.registerForm {
  padding-top: 0;
  padding-bottom: 5%;
}

.appTitle {
  padding-top: 45%;
}

