html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    background-color: rgb(33, 32,44);

}

.logoPaper {
  background-color: rgb(11, 10, 14);
}

.formContainer {
  background-color: rgb(254, 192, 56);
  padding: 15px;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

a {
  text-decoration: none;
}